<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574372711410-5f7lcunk5c3ngdp7g2tko3kot1akm3bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574372711410-5f7lcunk5c3ngdp7g2tko3kot1akm3bl</string>
	<key>API_KEY</key>
	<string>AIzaSyDH4aIGbADBdQixrlZiZDh26vnAGDUkBAY</string>
	<key>GCM_SENDER_ID</key>
	<string>574372711410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newTrackexpense</string>
	<key>PROJECT_ID</key>
	<string>trackexpense-823ae</string>
	<key>STORAGE_BUCKET</key>
	<string>trackexpense-823ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574372711410:ios:1904669027ef381dff796b</string>
</dict>
</plist>